# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
  # Use nix flakes to setup the environment
  use flake . --no-pure-eval --accept-flake-config
fi

# Prepare environment variables
dotenv_if_exists
env_vars_required DISCORD_TOKEN MISTRAL_API_KEY

# Set MLflow tracking to mlflow ui default config URI if not defined
export MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI:-"http://127.0.0.1:5000"}
export MLFLOW_EXPERIMENT_NAME=${MLFLOW_EXPERIMENT_NAME:-"Apeiron"}
